
.fixed{
    left: 0;
    bottom: 0px;
    background-color: #236fa0;
    color: silver;
    padding: 16px;
    width: 100%;
    text-align: center;
}

.fixed .text{
    color: white;
    font-family: 'Abril Fatface', cursive;
}