<p>Onliner.by — белорусский вебсайт, включающий пять основных разделов (технологии, авто, недвижимость, люди, форум). Функционирует также как маркетплейс товаров и услуг[2]. По данным исследовательской компании Gemius, в 2020 году портал охватывал 52,08 % белорусской интернет-аудитории[3].</p>

<p>Onliner.by является независимым, негосударственным медиа и позиционирует себя как платформу, на которой каждый белорус может высказать своё мнение и решить насущные проблемы[4][5]. Портал получил регистрацию СМИ 26 августа 2019 года[6]. В 2019 году сайт имел самый высокий рейтинг свободы от пропаганды среди всех медиа страны[7][8]. Согласно статистике, 60 % его аудитории представляют люди в возрасте от 25 до 34 лет[9][10].</p>

<p>История
    Блог (2001—2005)
    Онлайнер запустил в 2001 году Виталий Шуравко, первоначально — как блог, посвящённый мобильным телефонам и связи[11][12]. Уже в 2002 году Онлайнер получил награду «Проект года» на Белорусском Интернет Форуме, а основателя сайта выбрали Человеком года. На тот момент сайт ежедневно посещали 15000 человек. В апреле 2003 года на сайте был сформирован каталог с информацией об устройствах, продавцах и ценах, чуть позже на сайте был запущен форум[13]. Позднее темы веток форума (банкинг, автопроисшествия, недвижимость, конфликты, финансы) были использованы для создания отдельных разделов сайта[4]. К лету 2003-го в каталог помимо мобильных устройств включили домашнюю бытовую технику и электронику, к 1 июля на сайте было опубликовано свыше 254 тыс. объявлений[12][14].</p>
<p>
    Digital Lifestyle (2005—2012)
    В 2005 году был зарегистрирован ЧУП «Онлайнер», пост директора заняла супруга Виталия Шуравко Ксения[15]. В том же году Онлайнер разместил слоган Digital Lifestyle на главной странице, к этому моменту он уже превратился в многофункциональный портал[16][12]. Поскольку сайт носил в первую очередь развлекательный характер, контент отличался большим количеством иллюстраций и простым языком текстов[17][18]. Постепенно статьи двигались в сторону усложнения, стал набирать популярность жанр лонгридов и фоторепортажей от собственных корреспондентов[19][20].
</p>

<p>В конце 2000-х на портале были запущены несколько новых разделов, включая онлайн-классифайд недвижимости и автомобилей[4]. В 2010 году раздел, посвящённый автотематике, выделился в отдельную редакцию, в течение года его аудитория превысила 50 тыс. уникальных посетителей в день. В начале 2011-го раздел недвижимости, а в конце года — финансы также отделились в самостоятельные редакции[21].</p>

<p>
    Независимое медиа издание (с 2012)
    За десять лет портал развился в полноценное независимое медиа издание с отдельной секцией новостей, фото и видео репортажами, собственными журналистскими расследованиями[22]. В 2012 году Онлайнер отказался от приставки Digital Lifestyle и объявил о переходе к концепции многопрофильного информационного портала. К февралю 2013-го аудитория сайта составляла почти 500 тыс. уникальных посетителей в сутки[23]. По статистике gemiusAudience Онлайнер вышел на первое место, а его аудитория в 1,5 раза превысила аудиторию «Комсомольской правды»[24][25]. Редакция стала развивать региональные сайты с темами, актуальными для местных сообществ[26]. В 2013 году портал стал 9 из 10 самых популярных ресурсов среди белорусских пользователей Интернета[27][28]. В том же году на благотворительном аукционе ООО «Онлайнер» приобрело доменное имя online.by за 100 млн белорусских рублей[29].
</p>
<p>
    В 2015 году Онлайнер стал вторым по посещаемости новостным сайтом в Байнете[30]. К марту 2018 на сайте ежедневно выходило свыше 300 публикаций[31], значительную часть из которых составлял пользовательский контент[32]. Портал стал самым посещаемым маркетплейсом в Байнете[33], его ежемесячная аудитория составляла 1,4 млн посетителей, а число просмотров превысило 11 млн страниц в сутки[34]. К декабрю 2019 сайт достиг отметки в полмиллиона зарегистрированных пользователей[35].
</p>
<p>
    Первым в Байнете Онлайнер стал развивать направление видеорепортажей и документальных фильмов, выбирая темы и сюжеты, которые не могло бы освещать государственное телевидение[36]. С момента запуска в 2013 году, уже к 2019-му Youtube канал портала набрал 375 тыс. подписчиков[37][38]. К 2020-му году все пять основных разделов сайта имели собственную редакцию, аудитория портала превысила 1 млн уникальных посетителей в сутки[22][39]. Компания вошла в АПОТ[40], а в феврале 2020-го запустила собственную систему онлайн-платежей[41][42].
</p>

<p>
    Давление на СМИ
    Хотя редакция подчёркивает позицию портала «вне политики», Онлайнер неоднократно сталкивался с разного рода давлением со стороны правительства Белоруссии[43][44][45]. 20 декабря 2014 года Онлайнер был заблокирован властями и исключён из национальной доменной зоны. Хотя блокировке были подвергнуты несколько десятков других ресурсов, только о ситуации с Онлайнером власти дали официальное подтверждение[46][47][48]. Официальным предлогом послужило нарушение торгового законодательства[49], однако подавляющее большинство независимых экспертов напрямую связывало блокировку с политикой давления на независимые СМИ и государственным преследованием свободы слова при режиме Александра Лукашенко[50][51]. Порталу удалось возобновить деятельность в домене by в январе 2015-го[52].
</p>

<p>В мае 2017-го Роскомнадзор вынес Онлайнеру предупреждение о возможной блокировке в зоне ru. Причиной послужили комментарии анонимных пользователей на форме сайта, которые могли быть трактованы как оскорбление чувств верующих[53].</p>

<p>В июне 2019 редакция получила письмо с угрозой взорвать офис, ответственность за инцидент взяла на себя группировка, которая уже сообщала о заложении бомб в нескольких минских торговых и офисных центрах[54]. Позднее в том же году сервера портала подверглись мощной DDoS-атаке[55].</p>

<p>Во время президентской кампании 2020 года, перед выборами и в последующие недели протестов протестов корреспондентов Онлайнера неоднократно задерживали сотрудники силовых структур, журналистам разбивали технику[56]. Во время освещения протестов в Белоруссии 17 октября 2020 года была задержана журналистка Дарья Спевак; 19 октября 2020 года суд Октябрьского района г. Минска (судья — Елена Живица) присудил ей 13 суток административного ареста[57].</p>
<p>
    
    Руководство некоторых государственных предприятий прямо запрещало сотрудникам посещать сайт[58]. Сам портал несколько раз блокировался и часто был недоступен для пользователей даже вне Белоруссии[59][60][61][62].
</p>

