.header{
    position: fixed;
    height: 67px;
    width: 100%;
    background-color: #236fa0;
    color: white;
    padding: 10px 0px 0px 35px;
    font-size: 33px;
    font-family: helvetica;
    top: 0px;
    text-align: center;
}