@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.route{
    padding: 77px 20px 0;
    font-size: 20px;
}

a {
    color: rgb(39, 22, 192);
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
}
  
a:hover {
    text-decoration: underline;
}
 